<header class="home-header">
  <div class="header-wrapper">
    <div class="flexbox">
      <div>
        <div class="hero-title">
          <span style="
          background: -webkit-linear-gradient(180deg, #9BD9BB, #22E5F1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;">
            Yujie Li
          </span><br>
          Digital Product & <br>
          Design System <br>
          <span style="color: rgba(255,255,255,.5)">Beijing, CN.</span>
        </div>
        <div class="hero-subtitle">
          <span style="color: rgba(255,255,255,.5)">Product Design Lead</span>
          , Creation & Design System at 
          <span style="color: rgba(255,255,255,.9)">TikTok</span>. <br>
          Previously designer at 
          <span style="color: rgba(255,255,255,.9)">Microsoft</span>.</div>
      </div>
    </div>
  </div>
</header> 