@import "_base";

$colorA: #60E4A4;
$colorB: #554BF4;

$mobile-padding-lr: 1.2rem;

html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
    text-decoration: none;
    color: #888;
}

body>header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.wechat {
    &>header {
        display: none;
    }
    article.wrapper {
        padding-top: .6rem;
    }
}
.wrapper {
    max-width: 570px;
    
    margin: 0 auto;
    padding: 0 $mobile-padding-lr;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sitemark {

}

$padding-lr: 1.1rem;

.marktext {
    position: relative;
    font-size: 1rem;
    padding: $padding-lr 0;
    font-weight: 900;
    color: #ffffff;
    
    text-shadow: 2px 2px $colorB;
    &:after {
        content: " ";
        background-color: $colorA;
        position: absolute;
        height: 28px;
        border-radius: 2px;
        left: -4px;
        display: block;
        width: 50px;
        top: 16px;
        z-index: -9;
        transform: rotate(4deg)
    }
}

.nav {
    font-size: 0.8rem;
    padding: $padding-lr 0;
    ul {
        margin: 0;
        padding: 0;
        margin-right: -1rem;
        justify-content: space-between;
        li {
            margin: 0;
            list-style: none;
        }
        a {
            padding: .5rem 1rem .5rem .75rem;
            border-radius: 100px;
        }
        a:hover {
            background: #f4f4f4;
            color: #111;
        }
    }
}

article.wrapper {
    padding-top: 3rem;
}
.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p, ul, ol, blockquote {
        width: 100%;
    }

    blockquote {
        margin: .5rem;
        
        p {
            position: relative;
            color: #333;
            font-size: 1.1rem;
            line-height: 1.75;
            font-weight: 600;
            &:before {
                content: "“";
                display: block;
                position: absolute;
                top: .2rem;
                left: -.8rem;
                font-size: 1rem;
                color: #333;
            }
            &:after {
                content: "”";
                font-size: 1rem;
                color: #333;
            }
        }
        
    }

    .caption {
        width: calc(100% - 2.4rem);
        margin: 1rem auto 0 auto;
        font-size: .8rem;
        max-width: 570px;
        color: #888;
    }
    p {
        margin-top: 0;
    }
    p, li {
        font-size: 0.92rem;
        line-height: 2;
        font-weight: 400;
        color: #333;
        margin: .7rem 0;
    }
    li {
        margin: .5rem 0;
    }

    ul {
        padding-left: 2rem;
        margin: 0;
    }

    a {
        display: inline-block;
        padding: 0 8px;
        margin: 0 4px;
        background: #f4f4f4;
        border-radius: 100px;
        text-decoration: none;
        color: #333;
        font-weight: 600;
        &:before {
            content: "🔗";

        }
        &:hover {
            color: #111;
            background: #eee;
        }
    }

    .imgcomp {
        margin: 1.6rem 0;
    }
    .image {
        width: 100vw;
        max-width: 780px;
        height: 400px;
        background-color: #f0f0f0;
    }
}

.post-meta {
    color: #888;
    font-size: 0.8rem;
    line-height: 1.9;
    font-weight: 400;
    margin-top: 0.4rem;
}

.post-title {
    color: #111;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.header-container {
    padding: 0 $mobile-padding-lr+.1rem;
}

.post-header {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 940px) {
    body>header {
        position: static;
    }
}