@import "_base";

$colorA: #60E4A4;
$colorB: #554BF4;

$wrapper-width: 10rem;
$bleed-width: 14rem;

$header-height: 2rem;
$mobile-padding-lr: .43rem;

::-moz-selection { background: #333; color: #fff; }
::selection { background: #333; color: #fff;}

html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

pre, code {
    font-family: monospace;
}
a {
    text-decoration: none;
    color: #888;
}

a:hover {
    text-decoration: none !important;
}

h1 {
    margin: 0;
}
body>header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.09);
    background: #fff;
    height: $header-height;
    transition: height .3s;
    z-index: 999;
}

body>header.smaller {
    height: 1.17rem;
}

[data-dpr="1"] body>header {
    height: 77px;
    &.smaller {
        height: 44px;
    }
}

main {
    background: #fafafa;
    min-height: 100vh;
    padding-top: $header-height;
    padding-bottom: 3rem;
    box-sizing: border-box;
}

.wrapper {
    max-width: $wrapper-width;
    
    margin: 0 auto;
    padding: 0 $mobile-padding-lr;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sitemark {
    position: relative;
}

.center {
    align-items: center;
}

.nav {
    font-size: .34rem;
    ul {
        margin: 0;
        padding: 0;
        height: 2.75rem;
        margin-right: -.43rem;
        justify-content: space-between;
        li {
            margin: 0;
            list-style: none;
        }
        a {
            padding: 0 .43rem;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 100px;
        }
        a:hover {
            color: #111;
        }

    }
}

[data-dpr="1"] .nav {
    font-size: 13px;
    ul {
        height: 44px;
        a {
            padding: 0 12px;
        }
    }
}
   
[data-dpr="1"] .post-header {
    & {
        margin: 56px 0;
    }
    .post-title {
        font-size: 40px;
        margin-bottom: 14px;
    }

    .post-meta {
        font-size: 14px;
    }
    
}

article.wrapper {
    padding-top: $header-height;
}
.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    color: #000;
    p, ul, ol, blockquote {
        width: 100%;
    }

    ul li {
        list-style: disc;
    }
    ol li {
        list-style: decimal;
    }
    figure {
        width: 100%;
        margin: .9rem 0 1.8rem 0;
    }

    pre {
        margin: 0;
        background: #fafafa;
        padding: .9rem;
        border-radius: 3px;
        font-size: .28rem;
        line-height: .5rem;
        code {
            color: #000;
        }
    }
    blockquote {
        margin: .5rem;
        
        p {
            position: relative;
            color: #333;
            font-size: .5rem;
            line-height: .82rem;
            font-weight: 600;
            &:before {
                font-family: Arial, Helvetica, sans-serif;
                content: "“";
                display: block;
                position: absolute;
                top: 0;
                left: -.3rem;
                font-size: .6rem;
                color: #888;
            }
            &:after {
                font-family: Arial, Helvetica, sans-serif;
                content: "”";
                position: relative;
                font-size: .6rem;
                right: .2rem;
                color: #888;
            }
        }
        
    }

    .caption {
        width: calc(100% - 2 * .43rem);
        margin: .43rem auto 0 auto;
        font-size: .3rem;
        line-height: .5rem;
        max-width: $wrapper-width;
        color: #888;
    }
    p {
        margin-top: 0;
    }
    p, li {
        font-size: .42rem;
        line-height: .8rem;
        font-weight: 400;
        color: #333;
        margin: 0 0 .4rem 0;
    }

    ul {
        padding-left: .43rem;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: rgb(7, 155, 110);
        transition: all .2s;
        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }

    .imgcomp {
        width: $bleed-width;
        img {
            width: 100%;
        }
    }

    h2 {
        width: 100%;
        font-size: .75rem;
        line-height: 1.2rem;
        text-align: left;
        margin: .4rem 0 .4rem 0;
    }

    em {
        font-weight: 900;
        font-style: normal;
        color: #111;
    }

    hr {
        border: none;
        width: 6.25rem;
        margin: 1.8rem 0 2.7rem 0;
        height: .12rem;
        background-color: #e6e6e6;
    }

    code {
        font-size: .38rem;
        color: #999;
    }

}

[data-dpr="3"] .post-content {
    p, li {
        font-size: 45px;
    }
}

[data-dpr="2"] .post-content {
    h2 {
        font-size: 48px;
        line-height: 84px;
        margin: 28px 0 28px 0;
    }
    p, li {
        font-size: 30px;
        line-height: 56px;
        margin-bottom: 28px;
    }
}


[data-dpr="1"] .post-content {
    h2 {
        font-size: 24px;
        line-height: 42px;
        margin: 14px 0 14px 0;
    }
    p, li {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    blockquote {
        margin: .5rem;
        
        p {
            font-size: 17px;
            line-height: 28px;
            &:before {
                top: 4px;
                left: -15px;
                font-size: 24px;
            }
            &:after {
                font-size: 24px;
                right: 5px;
            }
        }
        
    }

    code {
        font-size: 14px;
    }

    figure.highlight {
        margin: 28px 0;
    }
    .imgcomp {
        width: 800px;
        margin: 14px 28px;
    }

    .caption {
        font-size: 12px;
        line-height: 14px;
        margin: 14px auto;

    }
    pre {
        line-height: 28px;
        padding: 16px;
    }
}
.post {
    padding-bottom: 6rem;
}

[data-dpr="1"] .post {
    padding-bottom: 2rem;
}

[data-dpr="1"] .post-content {
    margin-bottom: 1rem;
}

.post-meta {
    color: #888;
    font-size: .4rem;
    line-height: .4rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.post-title {
    color: #111;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: .9rem;
}


.header-container {
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    // padding: 0 .43rem;
    max-width: $wrapper-width;
}

.author-info {
    display: flex;
    flex-direction: row;
    font-size: .43rem;
    padding-top: .43rem;
    border-top: 1px solid #efefef;

    .avatar {
        overflow: hidden;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 2rem;
        background-color: #eee;
        img {
            width: 100%;
        }
    }
    .info {
        padding: .1rem 0;
        width: 100%;
        flex: 1;
        box-sizing: border-box;
        padding-left: .43rem;
        .author-name {
            font-weight: 600;
            margin-bottom: .1rem;
            color: #111;
        }
        .author-desc {
            color: #888;
            font-size: .38rem;
        }
    }
}

[data-dpr="1"] .author-info {
    font-size: 17px;
    .avatar {
        width: 48px;
        height: 48px;
    }
    .info .author-desc {
        font-size: 13px;
    }
}

footer {
    position: relative;
    display: none;
    height: 3rem;
    background-color: #000;
    z-index: -100;
}

.post-header {
    margin-bottom: 2.8rem;
    margin-top: 2.8rem;
}

.container {
    padding-top: $header-height;
}


.home {
    background-color: #fff;
}

.thumbnail {
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.post-list {
    padding: 0;
    margin-top: 3rem;
    li {
        position: relative;
        background-color: #fff;
        width: 100vw;
        margin: 0 0 2rem 0;
        max-width: $wrapper-width;
        overflow: hidden;
        list-style: none;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        h3 {
            margin: .21rem 0;
            color: #000;
            font-weight: 900;
            font-size: .53rem;
        }
        a {
            display: block;
            width: 100%;
            color: #000;
            box-sizing: border-box;
            padding: 0;
        }
    }

    
    .cat-icon {
        display: inline-block;
        vertical-align: middle;
        width: .43rem;
        height: .43rem;
        text-align: center;
        font-size: .512rem;
    }
    .cat-name {
        vertical-align: middle;
        margin-left: 0px;
        font-size: .34rem;
    }
    .post-excerpt {
        font-size: .37rem;
        line-height: 1.75;
        p {
            margin: .34rem 0;
        }
    }
    .padding-wrapper {
        padding: .43rem;
    }

    .post-meta {
        display: inline-block;
        font-size: .32rem;
        line-height: 1.4;
        color: #999;
        margin-bottom: .32rem;
    }
}

[data-dpr="1"] main {
    padding-top: 77px;
}

[data-dpr="1"] .post-list {
    margin-top: 32px;
    h3 {
        font-size: 20px;
        margin: 8px 0;
    }
    .post-excerpt {
        font-size: 14px;
        margin: 8px 0;
        p {
            margin: 0;
        }
    }
    .post-meta {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .cat-name {
        font-size: 14px;
    }

    .cat-icon {
        font-size: 18px;
    }

    .padding-wrapper {
        padding: 16px;
    }

    .thumbnail {
        height: 320px;
    }

    li {
        margin-bottom: 32px;
    }
}
.header-author {
    padding-top: 0;
    border: none;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .info .author-name {
        margin-bottom: 0;
        transform: translateY(0);
        transition: transform .3s;
    }
    .info .author-desc {
        margin-top: .15rem;
        font-size: .35rem;
        overflow: hidden;
        opacity: 1;
        transition: opacity .3s;
    }

    .avatar {
        width: 1.2rem;
        height: 1.2rem;
        transition: width .3s, height .3s;
        img {
            width: 100%;
        }    
    }
}

[data-dpr="1"]  body>header {
    .header-author .avatar {
        width: 48px;
        height: 48px;
    }
    .header-author .info {
        padding-left: 12px;
        .author-name {
            font-size: 17px;
        }
        .author-desc {
            font-size: 14px;
            margin-top: 4px;
        }
    }

    &.smaller {
        .header-author .avatar {
            width: 24px;
            height: 24px;
        }
        .header-author .info {
            .author-name {
                transform: translateY(10px)
            }
        }
    }
}

.smaller {
    .header-author {
        .author-desc {
            opacity: 0;
        }
        .author-name {
            transform: translateY(.24rem)
        }
        .avatar {
            width: .64rem;
            height: .64rem;
        }
    }
}

@media only screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {
    body>header {
        position: relative;
        z-index: 999;
        .marktext {
            top: -.43rem;
        }
        .nav {
            line-height: 18px;
        }
    }

    .home {
        background: #f9f9f9;
    }

    article.wrapper {
        padding-top: 0;
    }

    main {
        padding-top: .43rem;
    }

    .post-list li {
        margin-bottom: .43rem;
        border-left: none;
        border-right: none;
    }
    .header-container {
        padding: 0 .43rem;
    }
    .post-header {

    }

    .thumbnail {
        height: 5rem;
    }

    .post-list {
        margin: 0 auto;
    }

    .post-content .imgcomp, figure.highlight {
        width: 100vw;
    }

    .highlight pre {
        padding: .4rem $mobile-padding-lr;
    }
}

@media only screen and (max-width: 1125px) and (-webkit-min-device-pixel-ratio: 3) {
    body>header {
        position: relative;
        z-index: 999;
        .marktext {
            top: -.43rem;
        }
        .nav {
            line-height: 18px;
        }
    }

    .home {
        background: #f9f9f9;
    }

    article.wrapper {
        padding-top: 0;
    }

    main {
        padding-top: .43rem;
    }

    .post-list li {
        margin-bottom: .43rem;
        border-left: none;
        border-right: none;
    }
    .header-container {
        padding: 0 .43rem;
    }
    .post-header {

    }

    .thumbnail {
        height: 5rem;
    }

    .post-list {
        margin: 0 auto;
    }

    .post-content .imgcomp, figure.highlight {
        width: 100vw;
    }

    .highlight pre {
        padding: .9rem $mobile-padding-lr;
    }
}

