@import "_base";

html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.wrapper {
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
    padding: 0 16px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marktext {
    padding: 1rem 0;
}

.post-content {
    p, li {
        font-size: 0.9rem;
        line-height: 1.9;
        font-weight: 400;
        color: #333;
        margin-bottom: 1.4rem;
    }
    li {
        margin-bottom: 0.5rem;
    }

    ul {
        padding-left: 1.2rem;
    }
}