<html class="home" lang="zh-cn">
  {% include head.html %}
  <body>
    {% include header.html %}

    
    {%- if site.posts.size > 0 -%}
      <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
      <ul class="post-list wrapper">
        {%- for post in site.posts -%}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">

          
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <span class="post-meta reading-time" title="Estimated read time">
              ・
            {% assign words = post.content | number_of_words %}
            预计需要
            {% if words < 360 %}
              1 分钟
            {% else %}
              {{ words | divided_by:180 }} 分钟
            {% endif %}
          </span>

          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
          </a>
        </li>
        {%- endfor -%}
      </ul>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
    {% include script.html %}
  </body>
</html>

